@import '../src/scss/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.main-content-top {
    font-family: 'PT Sans', sans-serif;
    background: $primary-background;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2rem 0;
    .main-content-list {
      display: flex;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      li {
        margin-right: .7rem;
        list-style: none;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
      }
    }

    .main-content-sort {
        padding: 1rem;
    }
}