$primary-color-red: #F65261;
$primary-background: #555555;
$primary-transparent-background: rgba(255, 255, 255, 0.08);
$primary-transparent-background-dark: rgba(0, 0, 0, 0.8);
$primary-transparent-background-light: rgba(50, 50, 50, 0.8);
$popup-background: #232323;
$popup-input: #2E2E2E;
$rating-color: #80B859;