@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import './variables';

html {
  font-family: 'PT Sans', sans-serif;
  background: $primary-background;
}

body {
  font-family:inherit;
}

*,:before,:after {
  font-family:inherit;
}

.App {
  display: flex;
  flex-flow: row wrap;

  .header {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    justify-content: space-between;

    .header-text {
      flex: 0 0 50%;
      color: $primary-color-red;
      font-size: 1.5rem;
      margin-left: 2rem;
      .netflix-span {
        font-weight: bold;
      }
    }

    .add-movie-btn {
      width: fit-content;
      padding: .4rem .7rem;
      font-size: 1.5rem;
      border-radius: .3rem;
      background: $primary-transparent-background;
      border: none;
      color: $primary-color-red;
      margin-right: 2rem;
      cursor: pointer;
    }

    .find-movie {
      flex: 0 0 100%;
      color: white;
    }

    .search-and-results {
      margin-top: 1rem;
      flex: 0 0 100%;
      padding: 0 10rem 0 10rem;
      .search-movie-input {
        width: 15%;
      }
      .movie-search-btn, .movie-clear-search-btn {
        margin-left: .5rem;
        background: $primary-color-red;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }
  .main-conent {
    flex: 0 0 80%;
    background: $primary-transparent-background;
  }

  .sidebar {
    flex: 0 0 20%;
  }

}
